<style>
    .test{
        color: red;
    }
</style>
<div>
    <p class="test">La variable toto qui vaut : {{ toto }}</p>
    <p>Une boucle sur mon tableau :</p>
    <ul>
        {% for item in array %}
            <li>{{ item }}</li>
        {% endfor %}
    </ul>
</div>